.footer {

	color: #fff;
	background-color: #141A20; 


	@media screen and (min-width: 576px) {
		background-image: linear-gradient(
	   	 to right,
	  	 gradients.scrim(#141A20, 1, $start: 55%, $end: 100%)),
	  	 url('../images/dest/footer/footer_5.jpg');
	  	 background-position: center left;
		background-size: cover;
	}

	@media screen and (min-width: 650px) {
		background-image: linear-gradient(
	   	 to right,
	  	 gradients.scrim(#141A20, 1, $start: 50%, $end: 100%)),
	  	 url('../images/dest/footer/footer_5.jpg');
	  	 background-position: center left;
		background-size: cover;
	}

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(
	   	 to right,
	  	 gradients.scrim(#141A20, 1, $start: 40%, $end: 100%)),
	  	 url('../images/dest/footer/footer_5.jpg');
	}

	@media screen and (min-width: 850px) {
		background-image: linear-gradient(
	   	 to right,
	  	 gradients.scrim(#141A20, 1, $start: 35%, $end: 100%)),
	  	 url('../images/dest/footer/footer_5.jpg');
	}

	@media screen and (min-width: 990px) {
		background: #141A20;
	}
	


	@media screen and (max-width: 990px) {
		border-top: 1px solid #333;
	}

	&-cols {
		max-width: 920px;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 75px 0 50px;

		@media screen and (max-width: 990px) {
			flex-direction: column;
			padding: 60px 40px 60px 40px;
		}

		@media screen and (max-width: 375px) {
			flex-direction: column;
			padding: 40px 20px 40px 20px;
		}
	}

	&-col {
		&-1 {
			display: flex;
			flex-direction: column;
			gap: 15px;
			flex: 1 1 250px;
			max-width: 250px;

			@media screen and (max-width: 990px) {
				flex: 1 1 170px;
			}	
		}
	}

	&-logo__img {
		width: 101.62px;
		height: 23px;
	}

	&-text {
		font-family: 'OpenSans';
		font-size: 11px;
		line-height: 20px;
		letter-spacing: .7px;
		color: #fff;
	}



	&-col {
		&-2 {
			flex: 1 1 262px;
			max-width: 262px;

			@media screen and (max-width: 990px) {
				flex: 1 1 170px;
			}
		}
	}

	&-menu {
		
		&__cols {
			display: flex;
			gap: 35px;
		}


		&__col {
			display: flex;
			flex-direction: column;
		}

		&__link {
			display: inline-block;
			color: #fff;
			text-decoration: none;
			font-family: 'OpenSans';
			font-weight: 600px;
			font-size: 11px;
			line-height: 25px;
			letter-spacing: .85px;
		}
	} // footer-menu

	&-col {
		&-3 {
		    display: flex;
			flex-direction: column;
			justify-content: space-between;

			flex: 1 1 141px;
			max-width: 141px;

			font-family: 'OpenSans';
			font-size: 11px;
			line-height: 16px;
			letter-spacing: .85px;

			@media screen and (max-width: 990px) {
				max-width: 80%;
				flex: 1 1 1px;
				margin-bottom: 60px;
				gap: 20px;
			} 
		}
	}

	&-address {

	}

	&-col {
		&-4 {
			flex: 1 1 12px;
			max-width: 12px;

			@media screen and (max-width: 990px) {
				flex: 1 1 100%;
				max-width: 100%;
			}
		}
	}

	&-socials {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: space-between;

		@media screen and (max-width: 990px) {
			flex-direction: row;
			justify-content: flex-start;
		}

		&__element {
			
			display: inline-block;
			width: 12px;
			height: 12px;

			&.footer-fb {
				background: url('../images/dest/socials/fb.png');
			}

			&.footer-twitter {

				background: url('../images/dest/socials/twt.png');
			}

			&.footer-google {
				background: url('../images/dest/socials/gl.png');

			}
		}
	}

	&-copyright {
		min-height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #171819;
		font-family: 'OpenSans';
		font-size: 11px;
		color: #fff;
		letter-spacing: .85px;

		@media screen and (max-width: 990px) {
			border-top: 1px solid #333;
		}
	}

}