@import 'fonts';

*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	user-select: none;
	box-sizing: border-box;

}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

body.lock {
	overflow: hidden;

	@media screen and (min-width: 768px) {
		overflow: auto;
	}
}

a {
	text-decoration: none;
}

img {
	display: inline-block;
	width: 100%;
	height: auto;
	object-position: center;
	object-fit: cover;
}

@import 'burger';


/* header */

.header {
	position: relative;
	height: 100vh;
	min-height: 768px;
	/* background-image: url('../images/dest/header_bg.jpg');
	background-size: cover;
	background-position: center bottom;
	// background-position: center -85px;
	background-repeat: no-repeat;	

	//@media screen and (min-width: 1441px) and (min-height: 769px) {
		//background-position: center -85px;
	//} */

	&-logo {
		position: absolute;
		width: 102px;
		height: 23px;
		top: 40px;
		left: calc(50% - 51px);

		&__img {

		}
	}

	&-title {
		position: absolute;
		width: 100%;
		height: 60px;
		padding: 0 20px;
		top: 48%;
		left: 0;
		text-align: center;
		font-family: 'BebasNeueBold';
		font-size: 60px;
		letter-spacing: 5px;
		color: #fff;

		@media screen and (max-width: 768px) {
			font-size: 50px;
			top: 40%;
		}
	}

	&-text {
		position: absolute;
		width: 100%;
		height: 25px;
		padding: 0 20px;
		top: calc(49% + 60px);
		left: 0;
		text-align: center;
		font-family: 'OpenSans';
		font-size: 17px;
		color: #fff;

		@media screen and (max-width: 528px) {
			width: 320px;
			left: calc(50% - 160px);
		}

		@media screen and (min-width: 529px) and (max-width: 768px) {
			top: 47%;
		}
	}

	.scroll-down {
		position: absolute;
		width: 100%;
		height: 15px;
		bottom: 70px;
		left: 0;
		text-align: center;
		font-family: 'OpenSans';
		font-size: 11px;
		letter-spacing: 4px;
		font-weight: 600;
		color: #fff;
	}

} // header


/* navbar */

.navbar {
	height: 65px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	&-inner {
		max-width: 940px;
		height: 100%;
		margin: 0 auto;
		padding: 22px 0;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 990px) {
			padding: 22px 20px;
		}
	}

	.main-menu {
		display: flex;
		gap: 10px;

		&.active {
			top: 0;
		}

		@media screen and (max-width: 768px) {
			position: fixed;
		    top: -110vh;
		    left: 0;
		    width: 100%;
		    height: 110vh;
		    overflow: auto;
		    padding: 120px 10px 80px 5px;
		    background-color: #222;
		    transition: top .3s;
		    z-index: 1;
	    	flex-direction: column;
	    	align-items: center;
		}

		&__link {
			padding: 5px 20px;
			text-transform: uppercase;
			font-family: 'OpenSans';
			font-weight: 600;
			font-size: 12px;
			letter-spacing: 1px;
			color: #48555B;

			&.active {
				color: rgb(0,161,255);
			}



			@media screen and (max-width: 767px) {
				color: #fff;
				font-size: 20px;
				width: 80%;
			    text-align: center;
			    border-bottom: 1px solid #333;
			    padding-top: 20px;
			    padding-bottom: 30px;
			}

			&:last-child {
				padding-right: 0;

				@media screen and (max-width: 767px) {
					border-bottom: none;
					padding-right: 20px;
				}
			}

			&:hover {
				color: #00A4E5;
			}
		}
	}
} // navbar


.test {
	min-height: 200vh;
}