@import 'fonts';

*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	user-select: none;
	box-sizing: border-box;

}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

body.lock {
	overflow: hidden;

	@media screen and (min-width: 768px) {
		overflow: auto;
	}
}

a {
	text-decoration: none;
}

img {
	display: inline-block;
	width: 100%;
	height: auto;
	object-position: center;
	object-fit: cover;
}

@import 'burger';


/* header */

.header {
	position: relative;
	min-height: 100vh;
	background-image: url('../images/dest/header_bg.jpg');
	background-size: cover;
	background-position: center bottom;

	&-logo {
		position: absolute;
		width: 102px;
		height: 23px;
		top: 40px;
		left: calc(50% - 51px);

		&__img {

		}
	}

	&-title {
		position: absolute;
		width: 100%;
		height: 60px;
		top: 48%;
		left: 0;
		text-align: center;
		font-family: 'BebasNeueBold';
		font-size: 60px;
		letter-spacing: 5px;
		color: #fff;
	}

	&-text {
		position: absolute;
		width: 100%;
		height: 25px;
		top: calc(49% + 60px);
		left: 0;
		text-align: center;
		font-family: 'OpenSans';
		font-size: 16px;
		color: #fff;
	}

	.scroll-down {
		position: absolute;
		width: 100%;
		height: 15px;
		bottom: 70px;
		left: 0;
		text-align: center;
		font-family: 'OpenSans';
		font-size: 11px;
		letter-spacing: 4px;
		font-weight: 600;
		color: #fff;
	}

} // header


/* navbar */

.navbar {
	height: 65px;
	border-bottom: 1px solid #ddd;

	&-inner {
		max-width: 940px;
		height: 100%;
		margin: 0 auto;
		padding: 22px 0;
		display: flex;
		justify-content: space-between;
	}

	.main-menu {
		display: flex;
		gap: 10px;

		&__link {
			padding: 5px 20px;
			text-transform: uppercase;
			font-family: 'OpenSans';
			font-weight: 600;
			font-size: 12px;
			letter-spacing: 1px;
			color: #48555B;

			&:hover {
				color: #00A4E5;
			}
		}
	}
}