.section {
	
	&-inner {
		max-width: 940px;
		margin: 0 auto;

		@media screen and (max-width: 990px) {
			padding: 0 20px;
		}
	}

	&-title {
		position: relative;

		font-family: 'OpenSans';
		font-weight: bold;
		font-size: 18px;
		letter-spacing: 2.5px;
		text-transform: uppercase;
		color: #48555B;
		text-align: center;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -10px;
			left: calc(50% - 25px);
			width: 50px;
			height: 2px;
			background: #00A4E5;
		}
	}
}